.topheader{
    position: fixed;
    box-shadow: 0 4px 5px var(--navbar-color);
    background-color: var(--theme-color);
    left: 0;
    top: 0;
    width: 100%;
}

.topnav{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    max-width: 980px;
    margin: 0 auto
}

/* Logo */

.logo{
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    color: var(--color-primario);
}

.logo img{
    border-radius: 50%;
}

/* Menu */

.menu{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li{
    padding: 0 15px;
}

.menu a{
    color: var(--color-texto);
    font-size: 18px;
    font-weight: 500;
    line-height: 50px;
    text-transform: uppercase;
}

.abrir-menu,
.cerrar-menu {
    display: none;
}

/* Responsive */

@media (max-width: 950px) {
    /* Menu */

.menu{
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    align-items: center;
    background-color: var(--movil-color);
    height: 100%;
    overflow-y: auto;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s;
    
}

.menu li{
    padding: 0;
}

.menu a{
    color: var(--color-texto-inverso);
    line-height: 60px;
}

.abrir-menu,
.cerrar-menu {
    display: block;
    border: none;
    background: none;
    cursor: pointer;
}

.cerrar-menu{
    align-self: flex-end;
    padding: 20px 15px;
}

.menu_abierto{
    opacity: 1;
    pointer-events: all;
}

.abrir-menu:focus:not(:focus-visible),
.cerrar-menu:focus:not(:focus-visible){
    outline: none;
}

}